.burger-button {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 7px 4px;
  &__line {
    width: 24px;
    height: 2px;
    margin-bottom: 6px;
    background-color: #000000;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.burger-menu {
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $Main-White;
  z-index: 10;
  overflow: scroll;

  transition: 0.5s ease-in-out;

  &.active {
    display: block;
    z-index: 40;
  }
  &__header {
    padding: 19px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(0, 0, 0, 0.07);
  }

  .close-button {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
  }

  &__navigation {
    list-style: none;
    padding: 40px 20px;
    margin: 0px;
    gap: 30px;
    display: grid;
  }

  // &__item {
  //   margin-bottom: 30px;
  //   &:last-child {
  //     margin-bottom: 0px;
  //   }
  // }

  &__link {
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    // line-height: 24px;
    line-height: 1.2;
    text-decoration: none;
    color: $Main-Dark_Text;

    &.accent {
      color: $Main-Orange;
    }
  }

  &__bottom {
    border-top: 1px solid #f2f2f2;

    padding: 40px 20px 50px;
    display: grid;
    gap: 15px;
  }

  .burger__copyright {
    color: $Main-Dark_Text;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
    margin: 0px;
  }

  &__ShopBottom {
    border-top: 1px solid #f2f2f2;
    padding: 40px 20px 50px;
    display: grid;

    &_title {
      margin: 0px;
      margin-bottom: 15px;
      color: $Main-Dark_Text;
      text-align: center;
      font-size: 18px;
      font-family: "Effra", sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &_text {
      margin: 0px;
      margin-bottom: 25px;
      color: $Main-Dark_Text;
      text-align: center;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }
  }
}
