.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The toggler */
.toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid $Main-Orange;
}

.toggler:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggler:before {
  background-color: $Main-Orange;
}

input:focus + .toggler:before {
  box-shadow: 0 0 1px $Main-Orange;
}

input:checked + .toggler:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded togglers */
.toggler.round {
  border-radius: 34px;
}

.toggler.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 350px) {
  .toggler.round {
    width: inherit;
  }
}
