<div class="shopHero-Banner swiper-slide @@color">
    <div class="column column_first">
        <p class="shopHero-Banner__title">@@title</p>
        <h2 class="shopHero-Banner__caption">@@caption</h2>
        <p class="shopHero-Banner__text">@@text</p>
        <!-- @@include('quizButton.html',{}) -->
        <a href="@@link" class="action-button @@class">
            @@buttonText
        </a>
        <!-- @@include('actionButton.html',{
        text:"@@buttonText",
        link:"quiz.html",
        class:"quiz-button",
        }) -->
    </div>
    <div class="column column_second">
        <img class="shopHero-Banner__image" src="@@image" alt="vitamin" width="@@imgW" height="@@imgH">
    </div>
</div>