<aside class="basket">

    <div class="basket__top">
        <p class="basket__title">Cart</p>
        <button class="close-button close-cart" aria-label="close basket">
            <img src="@img/icons/Close.svg" alt="Close icon" width="18" height="18" aria-hidden="true">
        </button>
    </div>

    <div class="basket__empty">
        <p class="basket__empty_text">Your cart is empty</p>
        <img class="basket__empty_bg" src="@img/logo.svg" alt="logo bg" width="294px" height="350px">
    </div>

    <ul class="basket__list">
        <li class="basket__item">
            @@include('./basketItem.html',{
            id:"1",
            image:"@img/vitamins/vitamin_8.png",
            name:"Ortho Molecular Products CereVive Capsules",
            color:"pink",
            })
        </li>
        <li class="basket__item">
            @@include('./basketItem.html',{
            id:"2",
            image:"@img/vitamins/vitamin_6.png",
            name:"Standard Process Thymus PMG 90 Tablets",
            color:"purple",
            })
        </li>
    </ul>

    <div class="basket__bottom">
        <button class="basket__order-button">
            Check Out •&nbsp<div class="basket__totalPrice"> $156.58</div>
        </button>

        <p class="basket__bottom_minimunOrder">Minimum order amount is $700</p>
    </div>
</aside>

<div class="basket__bg"></div>