<nav class="burger-menu">
    <div class="burger-menu__header">
        <button class="close-button" aria-label="close menu">
            <img src="@img/icons/Close.svg" alt="Close icon" width="18" height="18" aria-hidden="true">
        </button>

        <!-- <div class="profile__img">
            <img src="@img/icons/Profile.svg" alt="profile logo" width="26" height="26">
        </div> -->
    </div>
    <ul class="burger-menu__navigation">
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">Shop</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">Information</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link accent">Take the quiz</a></li>
    </ul>
</nav>