<article class="packProduckItem">
    <div class="packProduckItem__wrap">
        <div class="packProduckItem__badge @@showBadge">
            -45%
        </div>
        <div class="packProduckItem__image">
            <img src="@@image" alt="vitamin's jar" width="186px" height="209px">
        </div>

        <div class="packProduckItem__container">
            <p class="packProduckItem__class @@classColor">@@class</p>
            <p class="packProduckItem__name">@@name</p>
            <div class="packProduckItem__priceContainer">
                <p class="packProduckItem__price">@@price</p>
                <p class="packProduckItem__price packProduckItem__priceDiscount">@@priceDiscount</p>
            </div>
        </div>
    </div>
</article>