<aside class="profile__sidebar">
        <nav class="profile__navbar">
                <ul class="profile__navigation burger-menu__navigation">
                        <li class="profile__menuItem burger-menu__item"><a
                                        class="profile__link active burger-menu__link"
                                        href="profileSubscriptions.html">Subscriptions</a></li>
                        <li class="profile__menuItem burger-menu__item"><a class="profile__link burger-menu__link"
                                        href="profileOrders.html">Orders</a></li>
                        <li class="profile__menuItem burger-menu__item"><a class="profile__link burger-menu__link"
                                        href="profileOverview.html">Account Overview</a>
                        </li>
                        <li class="profile__menuItem burger-menu__item"><a class="profile__link burger-menu__link"
                                        href="profilePayment.html">Payment methods</a></li>
                        <li class="profile__menuItem burger-menu__item"><a class="profile__link burger-menu__link"
                                        href="profileChangePassword.html">Change Password</a></li>
                        <li class="profile__menuItem burger-menu__item SignOut"><button
                                        class="profile__link burger-menu__link sale">Sign
                                        out</button></li>
                </ul>
        </nav>
</aside>