<aside class="profile__sidebar">
    <nav>
        <ul class="profile__navigation">
            <li><a class="profile__link" href="profileSubscriptions.html">Subscriptions</a></li>
            <li><a class="profile__link" href="profileOrders.html">Orders</a></li>
            <li><a class="profile__link active" href="profileOverview.html">Account Overview</a>
            </li>
            <li><a class="profile__link" href="profilePayment.html">Payment methods</a></li>
            <li><a class="profile__link" href="#">Change Password</a></li>
            <li><a class="profile__link sale" href="#">Sign out</a></li>
        </ul>
    </nav>
</aside>