<article class="respond">
    <ul class="star__list">
        <li class="star">
            <img src="@img/icons/star.svg" alt="star icon" width="19px" height="19px">
        </li>
        <li class="star">
            <img src="@img/icons/star.svg" alt="star icon" width="19px" height="19px">
        </li>
        <li class="star">
            <img src="@img/icons/star.svg" alt="star icon" width="19px" height="19px">
        </li>
        <li class="star">
            <img src="@img/icons/star.svg" alt="star icon" width="19px" height="19px">
        </li>
        <li class="star">
            <img src="@img/icons/star.svg" alt="star icon" width="19px" height="19px">
        </li>
    </ul>

    <h3 class="respond__caption">@@caption</h3>
    <p class="respond__discription">@@discription</p>

    <div class="respond__person">
        <img class="person__icon" src="@@icon" alt="man" width="48px" height="48px">
        <h4 class="person__name">@@name</h4>
    </div>
</article>