<div class="reviews__swiper swiper">
    <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
            @@include('./respond.html',{
            caption:"Easy monitoring your weight goal!",
            discription:"Love Vitamins! The individual packets make it so easy to remember you daily vitamins and makes travelling easy!!! 👍🏽",
            icon:"@img/persons/person1.png",
            name:"David S.",
            })
        </li>
        <li class="reviews__item swiper-slide">
            @@include('./respond.html',{
            caption:"High quality vitamins & supplements",
            discription:"High quality vitamins & supplements, very easy on my stomach too. Great service! I really like the flexibility and options available in the subscriptions.",
            icon:"@img/persons/person2.png",
            name:"Bridget T.",
            })
        </li>
        <li class="reviews__item swiper-slide">
            @@include('./respond.html',{
            caption:"I love it",
            discription:"I love it. It makes me feel good each morning and then it also makes me feel accomplished. ",
            icon:"@img/persons/person3.png",
            name:"Jenna Y.",
            })
        </li>
    </ul>
</div>