<article class="SubscriptionProduct">
    <div class="SubscriptionProduct__image @@color">
        <img src="@@image" alt="vitamin" width="84px" height="95.5px">
    </div>

    <div class="SubscriptionProduct__container">
        <div class="SubscriptionProduct__info">
            <div>
                <p class="SubscriptionProduct__class @@color">@@class</p>
                <p class="SubscriptionProduct__name"><span class="SubscriptionProduct__amount">@@amount</span> х @@name
                </p>
            </div>
            <p class="SubscriptionProduct__price">@@price</p>
        </div>

        <div class="SubscriptionProduct__delivery">
            <div>
                <p class="SubscriptionProduct__days">Shipment every <span
                        class="SubscriptionProduct__timerange">@@timerange</span> days</p>
                <p class="SubscriptionProduct__deliveryDate">Next delivery: <time datetime="2020-04-28"
                        class="SubscriptionProduct__deliveryDate_date">@@date</time></p>
            </div>
            <button class="Unsubscribe-button">Unsubscribe</button>
        </div>
    </div>
</article>