.profile {
  &__wrap {
    margin: 38px auto 100px;
    width: 77.5%;
  }

  .column {
    &_first {
      max-width: 25.5%;
    }
  }
  &__sidebar {
    margin-top: 26px;
  }

  .section-title {
    font-size: 36px;
  }
  &__navigation {
    list-style: none;
    display: grid;
    padding: 0px;
    gap: 45px;
  }

  &__link {
    color: $Main-Dark_Text;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: -0.2px;
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 500;
    &.active {
      font-weight: 700;
    }

    &.sale {
      color: $Red;
    }
  }

  &__container {
    margin-top: 30px;
    display: grid;
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .profile {
    &__wrap {
      margin: 38px 20px 100px;
      width: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .profile {
    &__wrap {
      display: block;
    }

    .column {
      &_first {
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
      }
    }

    &__navigation {
      display: flex;
      flex-wrap: wrap;

      gap: 25px;
      margin: 0px;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    &__container {
      gap: 15px;
    }
  }
}

@media screen and (max-width: 500px) {
  .profile {
    &__wrap {
      margin: 30px 20px 57px;
    }
    .section-title {
      font-size: 24px;
    }
    &__sidebar {
      display: none;
    }

    &__container {
      margin-top: 11px;
      gap: 13px;
    }

    .column {
      &_first {
        margin: 0px;
      }
    }
  }
}

.profileOrders {
  .SubscriptionProduct {
    padding: 0px;
    &__delivery {
      display: none;
    }

    &__container {
      position: relative;
    }

    &__info {
      display: grid;
      padding: 0px;
      height: 100%;
      align-items: start;
    }

    &__price {
      position: absolute;
      bottom: 10px;
    }
  }

  &__list {
    list-style: none;
    // padding: 40px;
    padding: 38px 41px 41px 40px;
    margin: 0px;
    background-color: $Main-Orange_bg;
    border-radius: 16px;
  }

  &__accordion {
    display: block;
  }

  &__order-date {
    color: $Main-Dark_Text;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin: 0px;
  }

  &__id {
    color: $Main-Dark_Text;
    font-size: 22px;
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    margin-top: 7px;
  }

  &__shipping {
    color: $Main-Dark_Text;
    text-align: right;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
  }

  .down-arrow {
    position: relative;
    transform: rotate(90deg);
    font-size: 20px;
    width: fit-content;
    // height: fit-content;
    height: 13px;

    display: none;
    cursor: pointer;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__orderList {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f2f2f2;
  }

  &__orderItem {
    width: 48%;
  }

  &__amount {
    color: $Main-Dark_Text;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin: 0px;
    margin-bottom: 4px;
  }

  &__totalPrice {
    color: $Main-Dark_Text;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
  }

  &__order {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .addTCard-button {
    color: $Main-White;
    background-color: $Main-Orange;
    text-align: center;
    font-size: 16px;
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 37px;
    border: none;
    border-radius: 100px;
  }
}

@media screen and (max-width: 1500px) {
  .profileOrders {
    .profile__wrap {
      margin: 38px 20px 80px;
      width: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .profileOrders {
    .column_first {
      max-width: 20%;
    }

    &__list {
      padding: 40px 20px;
    }

    &__orderItem {
      width: 47%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .profileOrders {
    .column_first {
      max-width: 100%;
      margin-bottom: 20px;
    }
    .profile {
      &__wrap {
        display: block;
      }
      &__navigation {
        display: flex;
        flex-wrap: wrap;

        gap: 25px;
        margin: 0px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .profileOrders {
    .down-arrow {
      display: block;
    }

    &__shipping {
      display: none;
    }

    &__orderItem {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .profileOrders {
    .SubscriptionProduct {
      display: flex;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .profileOrders {
    .column_first {
      margin: 0px;
    }

    .profile {
      &__wrap {
        margin: 32px 20px 64px;
      }

      &__container {
        gap: 15px;
      }
    }

    &__list {
      padding: 30px 20px;
    }

    &__order-date {
      font-size: 14px;
    }

    &__id {
      font-size: 20px;
      margin-top: 4px;
    }

    &__orderList {
      margin-top: 30px;
      gap: 14px;
      padding-bottom: 37px;
    }

    &__info {
      align-items: center;
    }

    .SubscriptionProduct {
      &__image {
        height: 121px;
        padding: 0px 15px;

        img {
          width: 70.189px;
          height: 80.188px;
        }
      }

      &__class {
        line-height: 14px;
      }

      &__name {
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__info {
        align-items: center;
        gap: 0px;
        padding-top: 5px;
      }

      &__price {
        position: relative;
        font-size: 14px;
      }
    }

    &__order {
      margin-top: 30px;
    }

    &__amount {
      font-size: 14px;
    }

    &__totalPrice {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 350px) {
  .profileOrders {
    .addTCard-button {
      padding: 15px 20px;
    }
  }
}

.profileOverview {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .section-title {
    line-height: 1;
  }

  &__customer {
    color: $Main-Dark_Text;
    text-align: right;
    font-size: 22px;
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
  }

  .column_second {
    margin-top: 15px;
    max-width: 66%;
  }

  &__form {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    // gap: 32px;
    gap: 33px 35px;
  }

  .inputContainer {
    width: 48%;

    &__ZIP {
      display: flex;
      justify-content: space-between;
    }
  }

  &__lable {
    color: $Main-Dark_Text;
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin: 0px;
    margin-bottom: 5px;
  }

  &__input {
    border-radius: 12px;
    background: $Main-Orange_bg;
    color: $Main-Dark_Text;
    border: none;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 24px;
    width: -webkit-fill-available;
    &::placeholder {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .SaveButton {
    color: $Main-White;
    text-align: center;
    font-size: 16px;
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 60px;

    border: none;
    border-radius: 100px;
    background: #c3bdb6;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1750px) {
  .profileOverview {
    .column_second {
      max-width: 80%;
    }
  }
}

@media screen and (max-width: 1600px) {
  .profileOverview {
    .profile {
      &__wrap {
        margin: 38px 20px 100px;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .profileOverview {
    .profile {
      &__wrap {
        gap: 20px;
      }
    }
    .column_first {
      max-width: 20%;
    }

    .column_second {
      max-width: fit-content;
    }

    &__form {
      justify-content: space-between;
      gap: 33px 0px;
    }
  }
}

@media screen and (max-width: 900px) {
  .profileOverview {
    .column_first {
      max-width: 100%;
    }
    .profile__navigation {
      display: flex;
    }
  }
}

@media screen and (max-width: 600px) {
  .profileOverview {
    &__form {
      gap: 25px;
      margin-top: 30px;
    }

    &__top {
      display: grid;
      gap: 10px;
    }
    &__customer {
      text-align: left;
    }

    .inputContainer {
      width: 100%;

      &__ZIP {
        // display: grid;
        // justify-content: unset;
        gap: 15px;
        .inputContainer {
          max-width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .profileOverview {
    .column_second {
      margin: 0px;
    }
    .profile__wrap {
      margin: 52px 20px 58px;
    }

    &__top {
      gap: 13px;
    }

    &__form {
      gap: 28px;
    }

    &__customer {
      font-size: 18px;
    }

    .SaveButton {
      width: 100%;
    }
  }
}

@media screen and (max-width: 300px) {
  .profileOverview {
    .inputContainer {
      &__ZIP {
        display: grid;
        justify-content: unset;
        gap: 15px;
        .inputContainer {
          max-width: 100%;
        }
      }
    }
  }
}
