.RecoverPassword {
  display: grid;
  justify-content: center;
  background: $Main-Orange_bg;
  height: 100%;
  min-height: 100vh;

  &__wrap {
    padding: 60px 238px;
    background: $Main-White;
    width: 920px;
    // margin-top: 209px;
    margin-top: 24.31vh;
    // margin-bottom: 226px;
    margin-bottom: 26.3vh;
    text-align: center;
    box-sizing: border-box;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__button {
    background: $Main-Orange;
    color: $Main-White;
    padding: 20px 98px;
    text-align: center;
    font-size: 20px;
    font-family: "Effra", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    border: none;
    margin-top: 25px;
  }

  .section-title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 5px;
  }

  &__lable {
    color: $Main-Dark;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;

    &_accent {
      color: $Main-Orange;
      text-decoration: none;
    }
  }

  &__inputWrap {
    display: grid;
  }
}

@media screen and (max-width: 1000px) {
  .RecoverPassword {
    display: block;
    background: none;
    &__wrap {
      width: auto;
      padding: 40px 20px 10px;
      margin: 40px 0px 20px 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .RecoverPassword {
    &__wrap {
      margin: 0px;
    }

    .section-title {
      font-size: 24px;
    }

    &__lable {
      font-size: 14px;
    }

    &__button {
      width: 100%;
      margin-top: 12px;
    }
  }
}
