.shopHero {
  &__wrap {
    padding-top: 20px;
  }

  &__slider {
    overflow-y: visible !important;
    overflow-x: clip !important;
  }

  .swiper-wrapper {
    display: flex;
    // padding-left: 11.2%;
    // padding-left: 2.6%;
    // padding-left: 7.6%;
    // justify-content: center;
  }

  &-Banner {
    height: 472px !important;
    align-items: center;
    display: flex !important;
    &.purple {
      background-color: $Goods-purple_Text;
    }
    &.violet {
      background-color: $Goods-purple;
    }
    &.blue {
      background-color: $Goods-Blue_Text;
    }

    &.main {
      .column {
        &_second {
          top: -15px;
        }
      }
    }
    // padding: 93px 70px;
    padding: 0px 70px;
    border-radius: 24px;
    display: flex;
    position: relative;
    width: 70% !important;
    margin: 0px auto;
    .column {
      max-width: 50%;

      &_second {
        position: absolute;
        right: 0px;
        height: 100%;
        align-items: center;
        display: flex;
        // top: -30px;
      }
    }

    &__title {
      color: $Main-White;
      font-size: 20px;
      font-family: Effra;
      opacity: 0.69;
      margin: 0px;
      margin-bottom: 15px;
      &:empty {
        margin-bottom: 0px;
      }
    }

    &__caption {
      color: $Main-White;
      font-size: 50px;
      font-family: "Effra", sans-serif;
      font-weight: 500;
      margin: 0px;
      margin-bottom: 25px;
    }

    &__text {
      color: $Main-White;
      width: 70%;
      font-size: 18px;
      line-height: 25px;
      font-family: "Open Sans", sans-serif;
      opacity: 0.69;
      margin: 0px;
      margin-bottom: 30px;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      max-height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .quiz-button,
    .action-button {
      display: block;
      width: fit-content;
      background-color: $Main-White;
      color: $Main-Dark_Text;
      font-size: 18px;
      padding: 20px 69px;
    }

    &__image {
      // width: 100%;
      width: 690px;
      object-fit: scale-down;
    }

    &-button-prev:after,
    &-button-next:after {
      background: $Main-White;
      color: $Main-Dark_Text;
      padding: 28px 30px;
      border-radius: 50%;
      font-size: 10px !important;
    }
    &-button-prev {
      left: 10.8% !important;
    }
    &-button-next {
      right: 10.8% !important;
    }

    &-pagination {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: $Main-White;
  }
}

@media screen and (max-width: 1500px) {
  .shopHero {
    .swiper-wrapper {
      padding-left: 4.2%;
    }
    &-Banner {
      &__image {
        width: 100%;
      }
      &-button-prev {
        left: 4.2% !important;
      }
      &-button-next {
        right: 16% !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .shopHero {
    .swiper-wrapper {
      padding-left: 3%;
    }
    &-Banner {
      &-button-prev {
        left: 3% !important;
      }
      &-button-next {
        right: 13% !important;
      }

      .column {
        max-width: 55%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .shopHero {
    .swiper-wrapper {
      // padding-left: 10%;
    }
    &-Banner {
      display: grid !important;
      height: fit-content !important;
      padding: 50px 20px !important;

      &-button-prev {
        left: 10% !important;
      }
      &-button-next {
        right: 8% !important;
      }
      &.main {
        .column {
          &_second {
            top: 0px;
          }
        }
      }
      .column {
        max-width: 100%;
        &_first {
          order: 2;
        }
        &_second {
          position: relative;
        }
      }

      &__image {
        height: 350px;
      }

      &__caption {
        text-align: center;
        font-size: 39px;
      }
      &__text {
        width: 100%;
        text-align: center;
      }
      &__title {
        text-align: center;
      }

      .quiz-button {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .shopHero {
    &-Banner {
      &__caption {
        @include font-size(37px);
      }

      &__image {
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .shopHero {
    &-Banner {
      &__title {
        font-size: 16px;
      }
      &-button-next,
      &-button-prev {
        display: none !important;
      }
      &-pagination {
        display: block;
        position: absolute !important;
        bottom: 55px !important;
      }
    }

    .swiper-slide {
      height: 100vh !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .shopHero {
    .swiper-wrapper {
      padding: 0px;
    }
    &-Banner {
      width: 92% !important;
      &__image {
        height: 180px;
      }

      & .column_second {
        margin-top: -20px;
      }

      &.main {
        & .column_second {
          margin-top: 20px;
        }
      }

      &__caption {
        font-size: 24px;
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        margin-bottom: 20px;
      }

      .quiz-button {
        font-size: 16px;
        padding: 15px 30px;
      }

      &-pagination {
        bottom: 50px !important;
      }
    }

    .swiper-slide {
      height: auto !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .shopHero {
    &-Banner {
      width: 91% !important;
    }
  }
}

@media screen and (max-width: 400px) {
  .shopHero {
    &__wrap {
      padding-top: 0px;
      height: 475px !important;
      overflow: clip !important;
    }
    &-Banner {
      border-radius: 0px;
      width: 90% !important;
      padding: 45px 20px 70px !important;
      &-pagination {
        bottom: 40px !important;
      }

      &.main {
        .column {
          &_second {
            top: -20px;
          }
        }
      }

      &__text {
        line-height: 20px;
        margin-bottom: 22px;
      }

      &-pagination {
        bottom: 68px !important;
        gap: 17px;
        display: flex;
        justify-content: center;
        bottom: 50px !important;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .shopHero {
    &__wrap {
      height: 465px !important;
    }
    &-Banner {
      padding: 45px 20px 70px 15px !important;
      &-pagination {
        bottom: 40px !important;
      }

      &__image {
        height: 152px;
      }

      &.main {
        .column {
          &_second {
            top: -20px;
          }
        }
      }

      &__text {
        margin-bottom: 19px;
      }

      &-pagination {
        bottom: 68px !important;
      }
    }
  }
}

.shop {
  &__wrap {
    margin: 53px auto 100px;
    width: 77.7%;
    display: flex;
    gap: 70px;
  }

  &__sidebar {
    padding-top: 38px;
  }

  &__navigation {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    gap: 47px;
    // width: 14.3%;
  }

  &__link {
    color: $Main-Dark_Text;
    font-size: 22px;
    font-family: "Effra", sans-serif;
    text-decoration: none;
    margin: 0px;

    &.sale {
      color: $Red;
    }

    &:hover {
      color: $Main-Accent;
    }
  }

  &__title {
    color: $Main-Orange;
    font-size: 22px;
    font-family: "Effra", sans-serif;
    margin: 0px;
    margin-bottom: 45px;
    width: fit-content;

    position: relative;
    display: flex;
    align-items: center;

    &::after {
      display: none;
      position: absolute;
      content: ">";
      width: 11px;
      height: 19px;
      transform: rotate(90deg);
      right: 0px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 80%;
    gap: 32px;
  }

  .packProduckItem {
    &__wrap {
      background-color: $Main-Orange_bg;
      position: relative;
      height: 379px;
    }

    &__priceContainer {
      position: absolute;
      bottom: 25px;
    }
  }
}

.View-more-button {
  color: $Main-Dark_Text;
  background-color: $Main-Orange_bg;
  border: none;
  border-radius: 40px;
  width: 100%;
  font-size: 16px;
  font-family: "Effra", sans-serif;
  font-weight: 500;
  padding: 15px 35%;

  display: none;

  position: relative;
  align-items: center;
  &::after {
    color: $Main-Orange;
    display: flex;
    position: absolute;
    content: ">";
    width: 11px;
    height: 19px;
    transform: rotate(90deg);
    right: 35%;

    width: 15px;
    height: 30px;
    font-size: 25px;
  }
}

@media screen and (max-width: 1795px) {
  .shop {
    &__wrap {
      gap: 5px;
    }
  }
}

@media screen and (max-width: 1750px) {
  .shop {
    &__wrap {
      gap: 0px;
    }

    &__list {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1700px) {
  .shop {
    &__wrap {
      width: 83%;
    }

    &__sidebar {
      width: 20%;
    }
  }
}

@media screen and (max-width: 1500px) {
  .shop {
    &__wrap {
      width: 97%;
      padding: 0px 20px;
      box-sizing: border-box;
      gap: 0px;
    }

    &__sidebar {
      width: auto;
    }
  }
}

@media screen and (max-width: 1300px) {
  .shop {
    &__wrap {
      display: block;
      margin-top: 50px;
    }

    &__title {
      width: 100%;
      padding-bottom: 21px;
      margin-bottom: 30px;
      border-bottom: 1px solid #f2f2f2;
      &::after {
        display: flex;
        width: 15px;
        height: 30px;
        font-size: 30px;
      }
    }

    &__sidebar {
      padding: 0px;
    }

    &__navigation {
      gap: 20px;
    }

    &__list {
      justify-content: space-between;
      width: auto;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 750px) {
  .shop {
    &__wrap {
      width: 100%;
      margin: 50px auto 62px;
    }
    .packProduckItem__wrap {
      height: 320px;
    }

    &__list {
      gap: 15px 0px;
    }
  }
}

@media screen and (max-width: 650px) {
  .shop {
    .packProduckItem__wrap {
      height: 280px;
    }
  }

  .shopHero .swiper-wrapper {
    padding-left: 0%;
  }
}

@media screen and (max-width: 500px) {
  .shop {
    &__title {
      color: $Main-Dark_Text;
      &::after {
        color: $Main-Orange;
      }
      font-size: 16px;
      font-weight: 500;
    }

    &__link {
      font-size: 16px;
      font-weight: 500;
    }

    .packProduckItem {
      &__wrap {
        height: 237px;
      }
      &__priceContainer {
        bottom: 20px;
      }
    }

    .View-more-button {
      margin-top: 15px;
      display: flex;
    }
  }

  .shopHero-Banner-pagination {
    bottom: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .shopHero-Banner-pagination {
    bottom: 50px !important;
  }
}

@media screen and (max-width: 370px) {
  .shop {
    &__list {
      gap: 15px;
      justify-content: center;
    }

    .View-more-button {
      padding: 15px 32%;
      &::after {
        right: 32%;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .shop {
    &__wrap {
      margin: 20px auto 62px;
    }

    &__title {
      padding-bottom: 20px;
    }
    .packProduckItem__wrap {
      height: 335px;
    }
  }
}

.shopBanner {
  .shopHero-Banner__image {
    width: 490px;
  }
}

@media screen and (max-width: 1000px) {
  .shopBanner {
    .shopHero-Banner__image {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .shopBanner {
    .column {
      &_first {
        margin-top: 35px;
      }
      &_second {
        justify-content: center;
      }
    }
    .shopHero-Banner {
      padding: 45px 18px 20px !important;
      &__title {
        margin-bottom: 10px;
      }
      &__image {
        width: 200px;
        max-width: 200px;
        object-fit: scale-down;
      }
    }
  }

  .shopHero-Banner {
    .column_second {
      justify-content: center;
    }
    &.main {
      .shopHero-Banner__image {
        max-width: 350px;
      }
    }
    &__image {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 400px) {
  .shopHero-Banner-pagination {
    position: relative !important;
  }
}

@media screen and (max-width: 375px) {
  .shopHero-Banner-pagination {
    position: absolute !important;
  }
}

@media screen and (max-width: 360px) {
  .shopBanner {
    .column {
      &_first {
        margin-top: 47px;
      }
    }
    .shopHero-Banner {
      padding: 60px 15px 28px !important;
    }
  }
}

.shopReviews {
  &__wrap {
    margin: 100px 202px;
  }

  .section-title {
    font-size: 30px;
    line-height: 35px;
    width: 390px;
    margin: 0px;
  }

  .reviews__list {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1500px) {
  .shopReviews {
    &__wrap {
      margin: 100px 100px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .shopReviews {
    .section-title {
      margin-left: 20px;
    }
    &__wrap {
      margin: 100px 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .shopReviews {
    .section-title {
      font-size: 20px;
      width: 220px;
      line-height: 25px;
    }

    .reviews__list {
      margin-top: 27px;
    }

    &__wrap {
      margin: 58px 0px 61px;
    }
  }
}

@media screen and (max-width: 350px) {
  .shopReviews {
    &__wrap {
      margin: 60px 0px 58px;
    }
    .reviews {
      &__list {
        margin-top: 34px;
      }
      &__item {
        width: 93.3% !important;
      }
    }
  }
}
