@import "fonts";
@import "rfs/scss.scss";
@import "normalize";
@import "variables";
@import "header";
@import "footer";
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
// font-family: 'Open Sans', sans-serif;
// font-family: 'Effra', sans-serif;
$rfs-breakpoint: 1500;

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;

  pointer-events: none;
  /* visibility: hidden; */
}

@import "main";
@import "./components/quiz-button";
@import "./components/actionButton";
@import "404";
@import "personalPack";
@import "quiz";
@import "shop";
@import "productCard";
@import "./components/ToggleSwitch";
@import "profile";
@import "./components/SubscriptionProduct";
@import "Checkout_fin";
@import "RecoverPassword";
@import "SignIn";
@import "SignUp";
@import "./components/basket";
@import "Checkout";
