$Main-Dark: #343434;
$Main-Dark_Text: #000000;
$Main-White: #ffffff;
$Main-Accent: #e99478;
$Main-Orange: #ff7d4e;
$Main-Yellow: #ffca78;
$Red: #d32d2c;
$Goods-purple: #9c91e0;
$Goods-purple_Text: #6b5ebb;
$Goods-Mint: #94d6be;
$Goods-Mint_Text: #6bb0a4;
$Goods-Pink: #da91e0;
$Goods-Pink_Text: #9448a0;
$Goods-Blue: #91caf2;
$Goods-Blue_Text: #5f9dca;
$Goods-Orange: #f2b385;
$Goods-Orange_Text: #e29964;
$Goods-Azure: #a5b3ff;
$Goods-Azure_Text: #5e73bb;
$Goods-Red: #e8939d;
$Goods-Red_Text: #e5463b;
